<%# Override QuickSearch core partial %>
<%# https://github.com/NCSU-Libraries/quick_search/raw/master/app/assets/javascripts/quick_search/event_tracking.js.erb %>

<%# Changes: %>
<%# - Listen for right- and left-clicks; esp. for rapid debugging %>
<%# - Send data to Google Analytics property even in non-production envs %>
<%# - Bypass (defunct?) in-page debugging data in favor of console logs %>
<%# - Bugfix for appending "-serve" to serve event category when reported %>
<%#   in the console for debugging %>


var quickSearchEventTracking = (function () {

    // Configs

    var config = {
        clickTrackingContainer: '.quicksearch-analytics-click-tracking',
        serveTrackingContainer: '.quicksearch-analytics-serve-tracking',
        testingContainer: '#quicksearch-analytics-debug',
        seeAllClass: 'see-all-results',
        categoryDataAttribute: 'quicksearch-analytics-category',
        actionDataAttribute: 'quicksearch-analytics-action',
        labelDataAttribute: 'quicksearch-analytics-label',
        logQueryDataAttribute: 'quicksearch-analytics-query'
    }

    <% url_helper = QuickSearch::Engine.routes.url_helpers %>

    // Public Methods

    function listenForClicks () {
        <%# // DUL CUSTOMIZATION: add contextmenu (right-click) to listener %>
        $(document).on('click contextmenu', config.clickTrackingContainer + ' a', function(e) {
            var eventValuesDefined = eventValues($(this));
            var link = $(this)[0];

            // This ensures that ctrl and cmd click to open
            // link in a new window/tab continues to function.
            // No need to preventDefault in this case
            // because the original page remains.
            if (e.metaKey || e.ctrlKey || e.type == 'contextmenu') {
                sendEventData(eventValuesDefined, '');
                return;
            } else {
                sendEventData(eventValuesDefined, link);
                e.preventDefault();
            }

            // In case the hitCallback isn't triggered soon enough we ensure the link is followed
            // after this timeout in any case.
            setTimeout(function() {
              document.location.href = link.href;
            }, 200);
        });
    }

    function listenForServesOnPageChange () {
        $(document).ready(function() {
            serveTrackingDivs = $(config.serveTrackingContainer).get();
            $.map(serveTrackingDivs, function(val) {
                checkForServes(val);
            });
        });
    }

    function checkForServes(val) {
        var link = $(val).find('a');
        var eventValuesDefined = eventValues(link);
        eventValuesDefined.action_type = 'serve';
        sendEventData(eventValuesDefined, '');
    }



    // Private Methods

    function eventValues (link) {
        var link = link;
        var analytics_event = {};
        analytics_event.category = eventCategory(link);
        analytics_event.action = eventAction(link);
        analytics_event.label = eventLabel(link);
        analytics_event.action_type = 'click';
        return analytics_event;
    }

    function eventCategory (link) {
        // FIXME: There may be a better way to get the action from the parent.
        var category;
        if (link.data(config.categoryDataAttribute)) {
            category = link.data(config.categoryDataAttribute);
        } else if (link[0].id.length > 0) {
            category = link[0].id;
        } else {
            category = link.parents('[id]:first')[0].id;
        }
        return category;
    }

    function eventAction (link) {
        var action;
        if (link.data(config.actionDataAttribute)) {
            action = link.data(config.actionDataAttribute);
        } else if (link.hasClass(config.seeAllClass)) {
            action = 'see-all-results';
        } else if (link.parent('h1,h2').length > 0) {
            action = 'heading';
        } else {
            index = link.parents('li').index()
            result = index + 1
            action = 'result-' + result;
        }
        return action
    }

    function eventLabel (link) {
        var label;
        if (link.data(config.labelDataAttribute)) {
            label = link.data(config.labelDataAttribute);
        } else if (link.parents('body').data(config.logQueryDataAttribute)){
            label = link.parents('body').data(config.logQueryDataAttribute);
        } else {
            label = link[0].href;
        }
        return label;
    }

    <%# // DUL CUSTOMIZATION: change logic so event data is sent to GA even in %>
    <%# // non-production environments. Output the event data in the console if %>
    <%# // not in production (the main UA property has -1 suffix) %>
    function sendEventData (eventValues, link) {

      <%# // DUL CUSTOMIZATION: moved this part from sendDataToGoogleAnalytics() so %>
      <%# // the correct category is logged in the debug console. %>
      if (eventValues.action_type == 'serve') {
        eventValues.category += "-serve";
      }

      $.when(logEventToDatabase(eventValues)).then(function () {
        sendDataToMatomoAnalytics(eventValues, link);
      });
    }

    <%# // DUL CUSTOMIZATION: don't call this function; it doesn't appear to be %>
    <%# // working and event data is already logged in the console for debugging %>
    function appendTestingData (eventValues) {
        var debugBlock = $(config.testingContainer);
        var debugList = $(config.testingContainer + ' ol');
        debugList.empty();
        $.map (eventValues, function(val) {
            debugList.append('<li>' + val + '</li>');
        });
        debugBlock.show();
    }

    <%# DUL Customization - removed sendDataToGoogleAnalytics function - replaced by Matomo 6-6-23 %>

    function sendDataToMatomoAnalytics (eventValues, link) {
        // Matomo Analytics

         _paq.push([
             'trackEvent',
             eventValues.category,
             eventValues.action,
             eventValues.label,
         ]);

    }

    function logEventToDatabase(eventValues) {
        url = '<%= url_helper.log_event_path %>';

        return $.ajax({
            url: url,
            data: {
                category: eventValues.category,
                event_action: eventValues.action,
                label: eventValues.label,
                action_type: eventValues.action_type
            }
        });
    }

    function checkForSearch() {
        if ($('body').data(config.logQueryDataAttribute)) {
            var query = $('body').data(config.logQueryDataAttribute);
            if (query != '') {
                searchValuesDefined = searchValues(query);
                logSearchToDatabase(searchValuesDefined);
            }
        }
    }

    function searchValues (query) {
        var link = link;
        var ga_search = {};
        ga_search.query = query;
        ga_search.page = searchPage();
        return ga_search;
    }

    function searchPage() {
        var pathname = window.location.pathname;

        // Get the pathname relative to the application root
        return pathname.replace("<%= ActionController::Base.relative_url_root || '' %>", "");
    }

    function logSearchToDatabase(searchValues) {
        url = '<%= url_helper.log_search_path %>';

        return $.ajax({
            url: url,
            data: {
                query: searchValues.query,
                page: searchValues.page
            }
        });
    }

    return {

        // Expose Public Methods

        listenForClicks: listenForClicks,
        listenForServesOnPageChange: listenForServesOnPageChange,
        checkForServes: checkForServes,
        checkForSearch: checkForSearch

    };

})();

$( document ).ready(function() {
    quickSearchEventTracking.checkForSearch();
    if ($("body").hasClass("search-index")) {
        quickSearchEventTracking.listenForClicks();
        quickSearchEventTracking.listenForServesOnPageChange();
    }
});
