<%# Override quicksearch core partial %>
<%# https://github.com/NCSU-Libraries/quick_search/blob/master/app/views/quick_search/search/_citation.html.erb %>

<%# changes: %>
<%# - updated formatting to remove period at end of page range (line 19) %>

<% if result.publisher %>
    <span class="publisher citation">
        <%= result.publisher %><%= result.volume || result.issue || result.pages ? ', ' : '.' %>
    </span>
<% end %>
<% if result.volume %>
    <span class="volume citation">
      <strong><%= t 'citation_labels.volume' %></strong> <%= result.volume %><%= result.issue || result.pages ? ', ' : '.' %>
    </span>
<% end %>
<% if result.issue %>
    <span class="issue citation">
      <strong><%= t 'citation_labels.issue' %></strong> <%= result.issue %><%= result.pages ? ', ' : '.' %>
    </span>
<% end %>
<% if result.pages %>
    <span class="pages citation"><%= pages(result.pages).html_safe %></span>
<% end %>
