<%# Override quicksearch core partial %>
<%# https://github.com/NCSU-Libraries/quick_search/blob/master/app/views/quick_search/search/_module.html.erb %>

<%# changes: %>
<%# - unlinked header and added 'see all' link %>
<%# - added 'display_description' (defined in translations file) below headers %>

<div id="<%= service_name.dasherize %>" class="module-contents">
    <% if searcher.is_a? StandardError %>

        <% module_link = QuickSearch::Searcher.module_link_on_error(service_name, searcher, @query) %>

        <h2 class="result-set-heading"><%= module_display_name %></h2>
        <p class="small text-muted"><%= t("#{service_name}_search.display_description") %></p>
        <% if params[:page].blank? %>
            <% page = 1 %>
        <% else %>
            <% page = params[:page] %>
        <% end %>
        <%= render partial: '/quick_search/search/search_error', 
                   locals: {service_name: service_name, 
                            page: page, 
                            template: 'without_paging',  
                            module_link: module_link } %>
    <% elsif searcher.results.blank? %>
        <h2 class="result-set-heading"><%= module_display_name %></h2>
        <p class="small text-muted"><%= t("#{service_name}_search.display_description") %></p>
        <%= render partial: '/quick_search/search/no_results', 
                   locals: {module_display_name: module_display_name, 
                            service_name: service_name, 
                            searcher: searcher} %>
    <% else %>
        <% total = number_with_delimiter(searcher.total) %>
        <% short_display_name = t("#{service_name}_search.short_display_name") %>
        <% unless defined? searcher.loaded_link_mobile %>
            <h2 class="result-set-heading"><%= raw(module_display_name) %><%= link_to t('modules.see_all_link_text_html', module_display_name: short_display_name.downcase), searcher.loaded_link, class: 'callbox' %></h2>
            <p class="small text-muted"><%= t("#{service_name}_search.display_description") %></p>
        <% else %>
            <h2 class='d-none d-md-block result-set-heading'><%= raw(module_display_name) %> <%= link_to t('modules.see_all_link_text_html'), searcher.loaded_link, { :class => 'callbox'}  %></h2>
            <h2 class='d-md-none result-set-heading'><%= raw(module_display_name) %> <%= link_to t('modules.see_all_link_text_html'), searcher.loaded_link_mobile, { :class => 'callbox'}  %></h2>
            <p class="text-muted"><%= t("#{service_name}_search.display_description") %></p>
        <% end %>
        <ol>
            <%= render partial: '/quick_search/search/result', collection: searcher.results, locals: { service_name: service_name } %>
        </ol>
        <p class="see-all-results pt-2 mt-4 text-center">
            <% unless defined? searcher.loaded_link_mobile %>
                <%= render partial: '/quick_search/search/see_all', 
                           locals: {service_name: service_name, 
                                    total: total, 
                                    module_link: searcher.loaded_link} %>
            <% else %>
                <span class="d-none d-md-block">
                <%= render partial: '/quick_search/search/see_all', 
                           locals: {service_name: service_name, 
                                    total: total, 
                                    module_link: searcher.loaded_link} %>
                </span>
                <span class="d-md-none">
                <%= render partial: '/quick_search/search/see_all', 
                           locals: {service_name: service_name, 
                                    total: total, 
                                    module_link: searcher.loaded_link_mobile} %>
                </span>
            <% end %>
        </p>

        <p class="sr-only back-to-top">
          <%= link_to t('modules.back_to_top'), '#result-types', class: 'sr-only sr-only-focusable', data: {turbolinks: false} %>
        </p>
        
    <% end %>
</div>
