<div id="<%= service_name.dasherize %>" class="module-contents" data-turbolinks="false">
    <% if searcher.is_a? StandardError %>
        <% module_link = QuickSearch::Searcher.module_link_on_error(service_name, searcher, @query) %>

        <%= render partial: '/quick_search/search/search_error', locals: { service_name: service_name, page: page, template: 'with_paging', module_link: module_link } %>
    <% elsif searcher.results.blank? %>
        <%= render partial: '/quick_search/search/no_results', locals: { service_name: service_name, searcher: searcher } %>
    <% else %>
        <% total = number_with_delimiter(searcher.total) %>
        <h2 id="result-types">Page <%= page %> of <%= total %> <%= t("#{service_name}_search.short_display_name")  %> results</h2>
        <ol>
            <%= render partial: '/quick_search/search/result', collection: searcher.results, locals: { service_name: service_name } %>
        </ol>
        <%= paginate searcher.paging, params: { controller: 'search', action: 'single_searcher', searcher_name: service_name, endpoint: nil, template: nil, format: nil }, views_prefix: 'quick_search' %>
    <% end %>
</div>
