<%# Override quicksearch core partial %>
<%# https://github.com/NCSU-Libraries/quick_search/blob/master/app/views/quick_search/search/_no_results.html.erb %>

<%# Changes: %>
<%# - removed use of fa-info-circle and fa-angle-right %>
<%# - added &raquo; at end %>
<%# - changed classes from Foundation to Bootstrap 4 %>

<p class='search-error-message'>No <%= t("#{service_name}_search.short_display_name") %> results found for <em><%= display_query %></em></p>
<p class="see-all-results d-none d-md-block pt-2 mt-4">
    <%= link_to searcher.no_results_link(service_name, "#{service_name}_search.no_results_link"), data: {"quicksearch_analytics_action" => "no-results"} do %>
        Try <%= t("#{service_name}_search.no_results_service_message") %> &raquo;
    <% end %>
</p>
<p class="see-all-results d-md-none pt-2 mt-4">
    <%= link_to searcher.no_results_link(service_name, "#{service_name}_search.no_results_link_mobile", "#{service_name}_search.no_results_link"), data: {"quicksearch_analytics_action" => "no-results"} do %>
        Try <%= t("#{service_name}_search.no_results_service_message") %> &raquo;
    <% end %>
</p>
