<%# Copy of QuickSearch core partial for customization. See: %>
<%# https://github.com/NCSU-Libraries/quick_search/blob/master/app/views/quick_search/search/_result_no_thumbnail.html.erb %>

<%# changes: %>
<%# - changed classes from Foundation to Bootstrap 4 %>

<div class="col">
    <%= render partial: '/quick_search/search/result_details', locals: { result: result, service_name: service_name } %>
</div>
