<%# Override quicksearch core partial %>
<%# https://github.com/NCSU-Libraries/quick_search/blob/master/app/views/quick_search/search/_result_title.html.erb %>

<%# changes: %>
<%# - removed date %>
<%# - added icon(s) %>

<%= link_to link do %>
    <%= sanitize(title.truncate(100, separator: ' ', omission: ' (...)')) %>
<% end %>

<%== icon %>
