<%# Override quicksearch core partial %>
<%# https://github.com/NCSU-Libraries/quick_search/blob/master/app/views/quick_search/search/_result_details.html.erb %>

<%# changes: %>
<%# - pass icon var to result_title partial %>
<%# - updated author output to account for linked names %>
<%# - modify presentation of description (only truncate, no more show/hide %>
<%# - added linked parents for arclight %>
<%# - changed classes from Foundation to Bootstrap 4 %>


<% unless result["mobile_link"] %>
    <h3 class='title'>
        <%= render partial: "/quick_search/search/result_title", 
                   locals: { link: result['link'], 
                             title: result['title'], 
                             icon: result['icon'] } %>
    </h3>
<% else %>
    <h3 class='title d-none d-md-block'>
        <%= render partial: "/quick_search/search/result_title", 
                   locals: { link: result['link'], 
                             title: result['title'], 
                             icon: result['icon'] } %>
    </h3>
    <h3 class='title d-md-none'>
        <%= render partial: "/quick_search/search/result_title", 
                   locals: { link: result['mobile_link'], 
                             title: result['title'], 
                             icon: result['icon'] } %>
    </h3>
<% end %>
<p class='link'><%= result["link"] %></p>

<% if result["author"]%>
    <p class='author'><%= result["author"].html_safe %></p>
<% end %>

<% if result.citation %>
    <p class="citation">
        <%= render partial: '/quick_search/search/citation', locals: {result: result} %>
    </p>
<% end %>

<% if result["description"] %>
    <div class='description'>
        <p class='description-truncated'>
          <%= sanitize(result["description"].truncate(150, separator: ' ', omission: ' (...)')) %>
        </p>
    </div>
<% end %>

<% if result["linked_parent_labels"]%>
    <div class="parent-labels">
      <%= "#{result['parent_labels_label']}: " if result['parent_labels_label'] %>
        <% spans = result['linked_parent_labels'].map do |label, id| %>
        <% content_tag(:span, link_to(label, id), class: 'parent') %>
      <% end %>
      <%= spans.join(' &raquo ').html_safe %>
    </div>
<% end %>

<p class='format'><%= result["format"] %>
  <% if result['fulltext'] %>
    <% unless result['format']&.empty? %>:<% end %>
    <%= link_to result["fulltext_link"], { class: '' } do %>
      <%= t("#{service_name}_search.full_text", default: 'View Online') %>
    <% end %>
  <% end %>
</p>

<% if result['doi'] && result['libkey'] %>
  <div class="doi-wrapper" data-doi="<%= result['doi'] %>">
    <%= link_to result['libkey'], {class: 'btn btn-outline-primary btn-sm', target: 'blank'} do %>
      <%= t("#{service_name}_search.view_article_html", default: 'View Online') %>
    <% end %>
  </div>
<% end %>

<% if result['availability'] || result['location'] %>
  <p>
  <% if result['availability'] %>
      <% if result["availability"].downcase.start_with?('available') %>
          <span class='availability badge badge-success'><span class="sr-only"><%= t('catalog_search.availability.this_item_is') %></span><%= t('catalog_search.availability.available') %></span>
      <% elsif result["availability"].downcase == "check holdings" %>
          <span class='availability badge badge-warning'><%= t('catalog_search.availability.check_holdings') %><span class="sr-only"><%= t('catalog_search.availability.for_this_item') %></span></span>
      <% else %>
          <span class='availability badge badge-danger'><span class="sr-only"><%= t('catalog_search.availability.this_item_is') %></span><%= t('catalog_search.availability.not_available') %></span>
      <% end %>
  <% end %>

  <% if result['location'] %>
      <span class='location'><%= result['location'] %></span>
  <% end %>
  </p>
<% end %>
