<% if result["link"].instance_of?(String) %>
    <% unless result["link"].blank? or (result["link"].blank? and result["title"].blank?) %>
        <% if result["thumbnail"] %>
            <li class='with-thumbnail'>
                <div class="row result">
                    <%= render partial: 'quick_search/search/result_with_thumbnail', locals: { result: result, service_name: service_name } %>
                </div>
            </li>
        <% else %>
            <li class='no-thumbnail'>
                <div class="row result">
                <%= render partial: 'quick_search/search/result_no_thumbnail', locals: { result: result, service_name: service_name } %>
                </div>
            </li>
        <% end %>
    <% end %>
<% end %>
