<%# Copy of QuickSearch core partial for customization, esp. Foundation -> Bootstrap %>
<%# https://github.com/NCSU-Libraries/quick_search/blob/master/app/views/quick_search/search/_result_with_thumbnail.html.erb %>

<%# Changes: %>
<%# - changed classes from Foundation to Bootstrap 4 %>
<%# - added img-fluid class to thumbs %>

<div class="col-sm-9 pr-sm-0">
    <%= render partial: '/quick_search/search/result_details', locals: { result: result, service_name: service_name } %>
</div>
<% unless result["mobile_link"] %>
  <div class="col-sm-3">
      <%= link_to result.link do %>
        <%= image_tag result["thumbnail"], class: 'thumbnail img-fluid', alt: t('images.thumbnail')%>
      <% end %>
  </div>
<% else %>
    <div class="col-sm-3 d-none d-md-block">
      <%= link_to result.link do %>
        <%= image_tag result["thumbnail"], class: 'thumbnail img-fluid', alt: t('images.thumbnail') %>
      <% end %>
    </div>
    <div class="col-sm-3 d-md-none">
      <%= link_to result.mobile_link do %>
        <%= image_tag result["thumbnail"], class: 'thumbnail img-fluid', alt: t('images.thumbnail') %>
      <% end %>
    </div>
<% end %>
