<%# Copy of QuickSearch core partial for customization, esp. Foundation -> Bootstrap %>
<%# https://github.com/NCSU-Libraries/quick_search/blob/master/app/views/quick_search/search/_result_with_thumbnail.html.erb %>

<%# Changes: %>
<%# - changed classes from Foundation to Bootstrap 4 %>

<p class="search-error" data-quicksearch-search-endpoint="<%= service_name %>"
    data-quicksearch-page="<%= page %>"
    data-quicksearch-template="<%= template %>"></p>
<p class="search-error-rescue search-error-message"><i class="fa fa-warning"></i> We're sorry. This search took too long.</p>
<p class="search-error-rescue see-all-results pt-2 mt-4">
    <%= link_to module_link, data: {"quicksearch_analytics_action" => "error"} do %>
    <i class="fa fa-angle-right"></i> Try <%= t("#{service_name}_search.error_service_message") %> for <span class='query'>"<%= truncate(@query, length: 100, separator: ' ') %>"</span>
    <% end %>
</p>
