<%# Override quicksearch core partial %>
<%# https://github.com/NCSU-Libraries/quick_search/blob/master/app/views/quick_search/search/_see_all.html.erb %>

<%# changes: %>
<%# - removed use of fa-angle-right %>
<%# - simplified logic to use rails pluralization %>

<%= link_to (module_link) do %>
    <% short_display_name = t("#{service_name}_search.short_display_name") %>
    <%= t("#{service_name}_search.see_all_message_html", count: total, short_display_name: short_display_name ) %>
<% end %>
