<%# Override quicksearch core partial %>
<%# https://github.com/NCSU-Libraries/quick_search/blob/master/app/views/quick_search/search/index.html.erb %>

<%# Changes: %>
<%# - changed classes from Foundation to Bootstrap 4 %>
<%# - removed empty div from Related Topics  %>
<%# - added ask button modal partial %>

<% title %>
<%= render partial: 'layouts/quick_search/page_title', locals: { page_title: @page_title } %>
<%= render partial: 'layouts/quick_search/search_form' %>
<div id="quicksearch-analytics-debug">
    <ol></ol>
</div>
<div class="quicksearch-analytics-click-tracking">
    <div id="result-types" class="row mb-3">
        <div class="col result-types">
            <%= render partial: 'layouts/quick_search/found_types' %>
        </div>
    </div>
</div>

<div class="quicksearch-analytics-click-tracking">
    <div class="row articles-catalog">
        <div class="col-md summon module pr-md-4">
            <% if @best_bets.is_a? StandardError %>
                <div class="search-error silent-search-error" data-quicksearch-search-endpoint="best_bets"></div>
            <% else %>
                <% unless @best_bets.results.blank? %>
                    <%= render partial: 'layouts/quick_search/best_bets',
                               locals: { best_bets: get_best_bets_data(@best_bets) } %>
                <% end %>
            <% end %>
            <%= render_module(@dul_summon, 'dul_summon') %>
        </div>
        <div class="col-md catalog module pl-md-4">
            <%= render_module(@catalog, 'catalog') %>
        </div>
        <hr>
    </div>

    <div class="row website">
      <div class="col-md website module pr-md-8">
          <%= render_module(@website, 'website') %>
      </div>
      <hr>
    </div>

    <div class="row archive pt-4 pl-3 pr-3 mb-4 ml-0 mr-0 border border-gray bg-light" id="manuscript-collections">
        <div class="col-12">
          <h2 class="section-head text-center"><%= t("manuscripts_group.display_name") %></h2>
          <p class="text-muted text-center">
            <%= t("manuscripts_group.display_description_html") %>
          </p>
          <hr class="mt-4 mb-4" />
        </div>
        <div class="col-md arclight module pr-md-4">
            <%= render_module(@dul_arclight, 'dul_arclight') %>
        </div>
        <div class="col-md catalog_archive module pl-md-4">
            <%= render_module(@catalog_archive, 'catalog_archive') %>
        </div>
        <hr>
    </div>

    <%= render partial: 'layouts/quick_search/harmful_language' %>
    <%= render partial: 'layouts/quick_search/more_options' %>

</div>

<%= render partial: 'layouts/quick_search/ask_button_modal' %>
