<% title %>

<div class="row page-title">
    <div class="col-sm-12">
        <h1><%= t('website_search.title_name') %></h1>
    </div>
</div>

<%= render partial: 'layouts/quick_search/search_form' %>

<div id="quicksearch-analytics-debug">
    <ol></ol>
</div>

<div class="quicksearch-analytics-click-tracking">
  <div class="row">
    <div class="col-md website module pr-md-8">
      <%= render_module(@website, 'website', 'quick_search/search/module_with_paging') %>
    </div>
  </div>
</div>

<%= render partial: 'layouts/quick_search/more_options' %>

<%= render partial: 'layouts/quick_search/ask_button_modal' %>
