<%# Override quicksearch core partial %>
<%# https://github.com/NCSU-Libraries/quick_search/blob/master/app/views/quick_search/pages/home.html.erb %>

<%# Changes: %>
<%# - Updated analytics click-tracking class (removed GA reference) %>

<% title %>
<%= render partial: '/layouts/quick_search/page_title', locals: { page_title: @page_title } %>
<%= render partial: 'layouts/quick_search/search_form' %>
<div class="quicksearch-analytics-click-tracking">
<%= render partial: 'layouts/quick_search/common_searches' %>
</div>
