<%# Override quicksearch core partial %>
<%# https://github.com/NCSU-Libraries/quick_search/blob/master/app/views/quick_search/appstats/_date_range.html.erb %>

<%# changes: %>
<%# - changed classes from Foundation to Bootstrap 4  %>
<%# - added some BS4 utility classes for layout  %>
<%# - fixed bug with unclosed <div>  %>

<% title('Foo') %>
<div id="date_range" class="row">
  <div class="col-md-4">
    <label for="from" class="inputLabel">From:</label>
    <input id="from" type="text" name="from" class="form-control">
  </div>
  <div class="col-md-4">
    <label for="to" class="inputLabel">To:</label>
    <input id="to" type="text" name="to" class="form-control">
  </div>
  <div class="col-md-4">
    <p id="datePickerText" class="mr-1">Days in Sample:</p> 
    <p id="numDays" class="mr-2"><%= "#{@days_in_sample}" %></p>
    <% if @page_title=='spelling-suggestion'||@page_title=='best-bets-regular'||@page_title=='Top Searches' %> 
      <label for="num" class="inputLabel"># Results:</label>
      <input id="num" type="number" name="num" min="0" max="200" class="form-control">
    <% end %>
    <button id="dateButton" type="button" class="btn btn-sm btn-primary">Update</button>
  </div>
</div>

<hr/>
