<%# Override quicksearch core partial %>
<%# https://github.com/NCSU-Libraries/quick_search/blob/master/app/views/quick_search/appstats/top_spot.html.erb %>

<%# changes: %>
<%# - changed classes from Foundation to Bootstrap 4 %>
<%# - moved date_range nav for better fit %>

<% title("#{@page_title} | ") %>
<%= render partial: 'datatables' %>
<div class="row">
  <div class="col-md-2">
    <%= render partial: 'menu' %>
  </div>
  <div class="col-md-10">
    <%= render partial: 'date_range' %>
    <% if @page_title=='spelling-suggestion' %> 
        <%= render partial: 'graph_spelling_suggestions' %>
    <% end %>
    <% if @page_title=='best-bets-regular' %> 
        <%= render partial: 'graph_best_bets' %>
    <% end %>
  </div>
</div>
