<div id="breadcrumb" class="container breadcrumb-errors" aria-label="breadcrumb" role="navigation">
  <div class="row">
    <div class="col">
      <p><a href="https://library.duke.edu">Home</a>&nbsp; &gt; &nbsp;<a href="https://library.duke.edu/find">Search &amp; Find</a>&nbsp; &gt; &nbsp;<%= yield(:html_title) %></p>
    </div>
  </div>
</div>
