<% content_for :html_title, 'Access Denied' %>

<main id="main-content" role="main" class="row">

  <div class="col-12 nav-header-wrapper">
    <div id="page-header">
      <div class="page-header">
        <h1 class="title" id="page-title">Access Denied (403)</h1>
      </div>
    </div>
  </div>

  <div class="col-12 content-wrapper">

    <div class="row no-gutters">

      <div class="col-sm-12">

        <p>You are not authorized to access this resource.</p>

        <p>If you need assistance, please <a href="https://library.duke.edu/research/ask">contact us</a></p>

      </div>

    </div>
  </div>

</div>
