/* ===================================================== */
/* Styles specific to the /appstats view within the      */
/* QuickSearch application. Note these are mostly to     */
/* override the core to make the layout BS4-friendly.    */
/* ===================================================== */



#date_range {
  label {
    margin-right: 1rem;
  }
  #from, #to, #num {
    width: auto;
  }
  .inputLabel, #datePickerText, #numDays {
    width: auto;
  }
}

#dateButton {
  width: auto;
}

.graphGroup {
  overflow-x: scroll;
}
