/* ================================================= */
/* Styles specific to the libraryh3lp 'Ask' modal    */
/* used in quicksearch results                       */
/* ================================================= */

#ask-modal-button {
  position: fixed;
  bottom: .625rem;
  right: .625rem;
  z-index: 20;
  box-shadow: 0 0 0.065rem rgba(0,0,0,0.12), 
              0 0 0.125rem rgba(0,0,0,0.12), 
              0 0 0.250rem rgba(0,0,0,0.12), 
              0 0 0.500rem rgba(0,0,0,0.12),
              0 0 1.00rem rgba(0,0,0,0.12);
  border-radius: .5rem;
  border: none;
  padding: 0;
  margin: 0;

  @media (min-width: 768px) {
    bottom: 2.5rem;
    right: 2.5rem;
  }
  
  .btn-primary {
    
    padding: .8rem 1rem .4rem 1rem !important;

    border-radius: .5rem;

    .fas {
      display: block;
      float: left;
      margin: -.2rem .5rem 0 0;
      font-size: 2rem;
      opacity:.7;
    }

    .text {
      font-size: 1.35rem;
      opacity: .95;
    }

    &:hover {
      .fas {
        opacity:.85;
      }
      .text {
        opacity: 1.0;
      }
    }

    @media (min-width: 768px) {
      
      padding: 1rem 1.2rem .6rem 1.2rem !important;

      .fas {
        margin: -.4rem .5rem 0 0;
        font-size: 2.5rem;
      }

    }

  }
}

#ask-modal {
  
  z-index: 2000;

  &.modal.fade .modal-dialog {
    transform: translate3d(0, 0, 0);
  }

  &.modal.in .modal-dialog {
    transform: translate3d(0, -5%, 0);
  }

  .modal-dialog {
    width: 100%;
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 0px;

    .modal-content {
      border-radius: 0.3rem 0 0 0;
      width: 100%;
    }
  }
}
