/* =============== */
/* Skip Links      */
/* =============== */

#skip-link {
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 101;
}


/* =============== */
/* Masthead tweaks */
/* =============== */

#masthead-dulcet {
  .col {
    padding-left: 0;
    padding-right: 0;
  }

  #dul-masthead-dul-megamenu .dul-masthead-megamenu_container ul .dul-masthead-mega_toplevel>a {
    font-size: 1.04rem !important;
  }
}


/* =============== */
/* Breadcrumbs     */
/* =============== */

#breadcrumb {
  .row {
    background-color: #f5f5f5;

    p {
      font-size: 1rem;
      margin-bottom: 0;
      padding-top: .5rem;
      padding-bottom: .5rem;
    }
  }
  &.breadcrumb-errors {
    margin-bottom: 2rem;
  }
}


/* =============== */
/* Layout tweaks   */
/* =============== */

#content {
  padding-top: 0;

  @media (min-width: 576px) {
    padding: 0;
  }
}


/* ================= */
/* Typography tweaks */
/* ================= */

ul,
ol {
  padding: 0;
}

h2.result-set-heading,
h2.section-head {

  font-size: 2.125rem;
  /* 34px */

  a {
    font-weight: 400 !important;
    background: #fff;
    margin-left: .625rem;
    font-size: .8125rem;
    text-transform: uppercase;
    color: #697708;
    border: 1px solid #a1b70d;
    padding: .3125rem;
    vertical-align: middle;
    font-weight: bold;
    white-space: nowrap;

    &:hover {
      text-decoration: none !important;
      color: #fff;
      background: #a1b70d;
    }
  }
}

#common-searches h3 {
  font-size: 1.375rem;
}

#dul-arclight h2.result-set-heading,
#catalog-archive h2.result-set-heading {
  font-size: 1.8125rem;
}

#content #main-content #quicksearch {

  margin-top: 2rem;

  .citation .publisher,
  .see-all-results {
    font-style: normal;
    font-weight: normal;
  }

  h3.title {
    font-size: 1.275rem;
    margin-top: .625rem;
  }
}

.module-contents {

  h2#result-types {
    font-size: 1.0625rem;
    line-height: 1.42857;
  }

  .result p {
    font-size: 0.95625rem;
    line-height: 1.3;
    padding-top: 0.3125rem;
    color: #676767;
  }
}

#manuscript-collections {

  p {
    color: #5d5d5d;
  }

  .text-muted {
    color: #676767 !important;
  }

}

/* =============== */
/* Form tweaks     */
/* =============== */

#content #main-content #quicksearch {
  input[type="text"] {
    font-size: 1.0625rem;
    /* 17px */
    height: 3.2rem;
  }

  .btn-primary {
    background-color: #1a4672;
    border-color: #1a4672;
    padding: .6em 1.2em;
  }
}

.main-search-form {
  background: #235f9c;
  border-top: .1875rem solid #184d83;
  padding: 1rem;

  @media (min-width: 992px) {
    background: #235f9c url(asset-path("library-background-blue.jpg")) no-repeat 0 0;
  }

  @media (min-width: 992px) {
    padding: 2.5rem !important;
  }
}

#main-search-form {
  max-width: 36rem;
}

/* adjust autosuggest presentation */

#main-search-form {
  .twitter-typeahead {
    width: calc(100% - 3.5rem);

    @media (min-width: 768px) {
      width: calc(100% - 5.375rem);
    }

    .tt-menu {
      width: 100%;
    }

    p.tt-suggestion {
      font-size: .9rem !important;
      margin-top: 0 !important;
    }

    /* hide 'status' */
    [role="status"] {
      display: none;
    }

    /* hide 'datatype' category */
    .tt-category {
      display: none;
    }

  }
}



#result-types {
  ul {
    li {
      font-size: 1.225rem;

      a {
        opacity: 0.8;

        &:hover {
          opacity: 1.0;
        }

        .fas {
          font-size: .8rem;
          color: #a1b70d;
        }
      }
    }
  }
}


/* =============== */
/* Other tweaks    */
/* =============== */


#content #main-content #quicksearch {

  .small {
    font-size: .9375rem;
  }

  .module-contents {
    .small {
      padding-bottom: 0;
      margin-bottom: .625rem;
    }
  }

  #best-bets {
    margin-bottom: 4rem;
  }

  #best-bets.module-contents,
  #dul-summon.module-contents,
  #catalog.module-contents {
    .small {
      border-bottom: 1px dotted #b8b8b8;
      padding-bottom: .625rem;
      margin-bottom: .625rem;
    }
  }

  #website {
    padding-top: 2rem;

    .pagination {
      padding-top: 2rem;
    }
  }

  .see-all-results {
    border-top: 1px dotted #b8b8b8;
    margin-bottom: 4rem;
  }

  .thumbnail {
    padding: .25rem;
    margin-top: .85rem;
    background-color: #fff;
    border: 1px solid #b8b8b8;
    border-radius: 0;
    max-height: 100px;
  }

  .highlight {
    background: #a1b70d;
  }

  .icon-wrapper {
    margin-left: .5rem;
    display: inline;
  }

  .blacklight-icons {
    margin-left: .2rem;

    svg {
      overflow: hidden;
      vertical-align: middle;
      height: 1rem;
      width: 1rem;
      width: .75em;
      height: .75em;
      margin-bottom: .1em;
    }
  }

  .al-online-content-icon svg {
    fill: #00830e;
  }

  .al-restricted-component-icon svg {
    color: #ffd960;
  }

  .btn-sm {
    margin: .5rem .5rem 0 0;
  }

  #related-topics,
  #more-options {
    ul {
      /* override QuickSearch core column count */
      column-count: auto;
      -moz-column-count: auto;
      -webkit-column-count: auto;

      li {
        margin-right: 1.75rem;

        /* FA icons */
        &:before {
          color: #676767;
          padding-right: 0.25rem;
          display: inline-block;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
        }
      }
    }
  }

  #related-topics ul li:before {
    /* search icon */
    content: "\f002";
  }

  #more-options ul li:before {
    /* external link icon */
    content: "\f35d";
  }

  .fa-comment {
    font-size: 2.5rem;
    color: tint(#053482, 70%);
    display: block;
    float: left;
    margin: -.5rem .5rem 0 0;
  }

  .availability.badge {
    display: block;
    width: fit-content;
    float: left;
    margin-right: .25em;
    margin-top: .15em;
  }

}

.module-contents {
  .page-item.active .page-link {
    background-color: #004ccc;
    border-color: #004ccc;
  }
}

// hide analytics debug

#quicksearch-analytics-debug {
  display: none;
}