<%# Copied from QuickSearch core for local modifications. See: %>
<%# https://github.com/NCSU-Libraries/quick_search/blob/master/app/views/layouts/quick_search/_best_bets.html.erb %>

<%# Changes: %>
<%# - changed classes from Foundation to Bootstrap 4 %>
<%# - changed markup to mirror that of other modules for consistent formatting %>

<% unless best_bets.blank? %>
  <% if best_bets[:link].is_a?(String) %>
    <div id="best-bets" class="module-contents quicksearch-analytics-serve-tracking">
      <h2 class="result-set-heading"><%= t("best_bets_search.display_name") %></h2>
      <p class="small text-muted"><%= t("best_bets_search.display_description") %></p>
      <ol>
        <li class="no-thumbnail">
          <div class="row result">
            <div class="col">
              <h3 class="title">
                <%= link_to (best_bets[:link]),
                    :data => { :quicksearch_analytics_action => best_bets[:id],
                      :quicksearch_analytics_category => best_bets[:best_bets_type] } do  %>
                        <%= best_bets[:title] %>
                <% end %>
              </h3>
              <div class='description'>
                <p>
                  <%= best_bets[:description] %>
                </p>
              </div>
            </div>
          </div>
        </li>
      </ol>
    </div>
  <% end %>
<% end %>
