<%# Copied from QuickSearch core for local modifications. See: %>
<%#https://github.com/NCSU-Libraries/quick_search/blob/master/app/views/layouts/quick_search/_common_searches.html.erb %>

<%# Changes: %>
<%# - Grid classes changed from Foundation to Bootstrap 4 %>

<div class="row mt-4">
    <div class="col-md-7">
        <h2><%= @module_callout %></h2>
    </div>
    <% unless @common_searches.empty? %>
        <div id="common-searches" class="col-md-5 common-searches">
            <h3><%= t('call_to_try_searches') %>:</h3>
            <ul>
                <% @common_searches.each do | search | %>
                    <li><%= link_to search, :q => search  %></li>
                <% end %>
            </ul>
        </div>
      <% end %>
</div>
