<%# Copied from QuickSearch core for local modifications. See: %>
<%# https://github.com/NCSU-Libraries/quick_search/blob/master/app/views/layouts/quick_search/_found_types.html.erb %>

<%# Changes: %>
<%# - Grid classes changed from Foundation to Bootstrap 4 %>
<%# - Font Awesome icons added next to link text %>

<ul class="list-inline">
  <% for searcher in QuickSearch::Engine::APP_CONFIG['found_types'] %>
    <% if @found_types.include? searcher  %>
      <li class="list-inline-item">
        <a href="#<%= searcher.dasherize %>" data-quicksearch-analytics-action="<%= searcher.dasherize %>">
          <%= t("#{searcher}_search.display_name") %> <i class="fas fa-caret-square-down"></i>
        </a>
      </li>
    <% else %>
      <li class="list-inline-item <%= searcher.dasherize %>">
        <span class="no-results-label"><%= t("#{searcher}_search.display_name") %></span>
      </li>
    <% end %>
  <% end %>
</ul>
