<%# Override QuickSearch core partial %>
<%# https://github.com/NCSU-Libraries/quick_search/blob/master/app/views/layouts/quick_search/_google_analytics.html.erb %>

<%# DEPRECATED (6/2/2023) - DUL Quicksearch now uses Matomo Analytics if ENV variables are set %>

<%# Changes: %>
<%# - updated analytics.js syntax to faster "async" syntax %>
<%#   https://developers.google.com/analytics/devguides/collection/analyticsjs %>
<%# - changed variable for the tracking id %>
<%# - added IP anonymize %>
<%#   https://developers.google.com/analytics/devguides/collection/analyticsjs/ip-anonymization %>
<%# - added beacon transport %>
<%#   https://developers.google.com/analytics/devguides/collection/analyticsjs/sending-hits#specifying_different_transport_mechanisms %>

<%# Note: %>
<%# - Analytics.js (ca. 2013) is a couple generations behind and may become %>
<%#   deprecated or unsupported by Google. But updating to GA4 or gtag.js   %>
<%#   would require rewriting the QuickSearch core event tracking JS.       %>


<% if DulQuicksearch.google_analytics_tracking_id %>
  <!-- Google Analytics -->
  <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', '<%= DulQuicksearch.google_analytics_tracking_id %>', 'auto');
    ga('set', 'anonymizeIp', true);
    ga('set', 'transport', 'beacon');
    ga('send', 'pageview');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  <!-- End Google Analytics -->
<% end %>
