<div class="row">
  <div class="col">
    <p class="mb-5"><i class="fas fa-info-circle"></i> Some materials and descriptions may include offensive content. <a href="https://library.duke.edu/about/statement-potentially-harmful-language-library-descriptions" aria-label="Statement on Potentially Harmful Language in Library Descriptions">More info</a></h2>
  </div>
</div>
