<%# Copied from QuickSearch core for local modifications. See: %>
<%# https://github.com/NCSU-Libraries/quick_search/blob/master/app/views/layouts/quick_search/_more_options.html.erb %>

<%# Changes: %>
<%# - Grid classes changed from Foundation to Bootstrap 4 %>
<%# - Flex classes for inline list %>
<%# - Added link to ask a librarian %>
<%# - added target="_blank" to 'more' links %>


<div class="row">
  <div class="col">
    <h2 class="section-head mb-4">More Search Options</h2>
  </div>
</div>

<div class="row">
  <% if @dul_summon.present? %>
    <% unless @dul_summon.is_a? StandardError %>
      <% unless @dul_summon.related_topics.blank? %>
        <div id="related-topics" class="col-12 module related-topics">
          <%= render partial: 'layouts/quick_search/related_topics', locals: {related_topics: @dul_summon.related_topics} %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <div id="more-options" class="col-12 more-options">
  <% if @query %>
    <h3>Search for <span class="query"><%= display_query %></span> in...</h3>
  <% else %>
    <h3>A few more places to try...</h3>
  <% end %>

  <ul class="d-inline-flex flex-wrap">
    <% @search_services_for_display.each do |link| %>
      <li><%= link_to link['name'], link['link'], target: '_blank', rel: 'noopener' %></li>
    <% end %>
  </ul>

  </div>

  <div class="col-12">
    <hr/>
    <p><%= link_to 'https://library.duke.edu/research/ask' do %>
      <i class="fas fa-comment" aria-hidden="true"></i>Need help? Ask a Librarian!
    <% end %></p>
  </div>
</div>


