<%# Copied from QuickSearch core for local modifications. See: %>
<%# https://github.com/NCSU-Libraries/quick_search/blob/master/app/views/layouts/quick_search/_page_title.html.erb %>

<%# Changes: %>
<%# - Grid classes changed from Foundation to Bootstrap 4 %>

<div class="row page-title">
    <div class="col-sm-12">
        <h1 class="sr-only"><%= page_title %></h1>
    </div>
</div>
