<%# Copied from QuickSearch core for local modifications. See: %>
<%# https://github.com/NCSU-Libraries/quick_search/blob/master/app/views/layouts/quick_search/_related_topics.html.erb %>

<%# Changes: %>
<%# - changed header to H3 %>
<%# - flex classes for inline list %>

<% unless related_topics.blank? %>
  <h3>Related searches</h3>
  <ul class="d-inline-flex flex-wrap mb-4">
  <% related_topics.each do |topic| %>
    <li><%= link_to topic, root_path(q: topic) %></li>
  <% end %>
  </ul>
<% end %>
