<%# Copied partial from QuickSearch core for local customization. See: %>
<%# https://github.com/NCSU-Libraries/quick_search/blob/master/app/views/layouts/quick_search/_search_form.html.erb %>

<%# Changes: %>
<%# - changed classes from Foundation to Bootstrap 4 %>
<%# - added BS4 utility classes for spacing %>
<%# - removed row/column classes %>

<div class="main-search-form p-lg-5 p-md-4 p-sm-3">
    <%= form_for("search", method: :get, html: {id: 'main-search-form', class: 'cataog-search-form'}) do |f| %>
      <div class="input-group">
        <% if @query  %>
            <input autofocus type="text" name="q" id="params-q" class="search-query form-control" value="<%= @query %>" aria-label="All Search" data-autosuggest-enabled="<%= autosuggest_state %>" data-autosuggest-path="https://find.library.duke.edu/catalog/suggest" autocomplete="<%= autocomplete_state %>" />
        <% else %>
            <input autofocus type="text" name="q" id="params-q" class="search-query form-control" placeholder="<%= @search_form_placeholder %>" aria-label="All Search" data-autosuggest-enabled="<%= autosuggest_state %>" data-autosuggest-path="https://find.library.duke.edu/catalog/suggest" autocomplete="<%= autocomplete_state %>" />
        <% end %>
        <div class="input-group-append">
          <button type="submit" class="btn btn-primary d-md-none"><i class="fa fa-search"><span class="sr-only">Search</span></i></button>
          <button type="submit" class="btn btn-primary d-none d-md-block">Search</button>
        </div>
      </div>
    <% end %>
</div>
