<%# Override quicksearch core partial %>
<%# https://github.com/NCSU-Libraries/quick_search/blob/master/app/views/layouts/quick_search/home.html.erb %>

<%# Changes: %>
<%# - Updated analytics click-tracking class (removed GA reference) %>

<% unless spelling_suggestion.blank? %>
    <% unless @query.size > 100 %>
    <div id='spelling-suggestion' class="row quicksearch-analytics-serve-tracking quicksearch-analytics-click-tracking">
      <div class="small-12 large-8 columns spelling-suggestion module">
        <h3 class="title">
          Did you mean <%= link_to spelling_suggestion, "?q=#{spelling_suggestion}",
            :data => { :quicksearch_analytics_action => spelling_suggestion,
            :quicksearch_analytics_label => @query }  %>?
        </h2>
      </div>
    </div>
    <% end %>
<% end %>
