<%# Replicated from Quick Search core gem. See: %>
<%# https://github.com/NCSU-Libraries/quick_search/blob/master/app/views/layouts/quick_search/application.html.erb %>
<%# This file is required to be present at this path when using a custom theme. %>

<%# Changes: %>
<%# - removed jquery UI %>

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <title><%= content_for(:title) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="search" type="application/opensearchdescription+xml" href="<%= opensearch_path %>" title="<%= t('opensearch_description') %>" />

  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>

  <%# DUL CUSTOMIZATION: remove GA tracking - replaced with Matomo 6-6-23 %>

  <%# Autosuggest for search boxes %>
  <script src="https://find.library.duke.edu/assets/autosuggest/index.js" type="text/javascript"></script>
  <link rel="stylesheet" href="https://find.library.duke.edu/assets/dul_argon/catalog-autosuggest.css" type="text/css" />

  <%# Duke Alertbar stylesheet %>
  <link rel="stylesheet" href="https://alertbar.oit.duke.edu/sites/all/themes/blackwell/css/alert.css" type="text/css" media="Screen" />

  <%# DUL CUSTOMIZATION: add custom favicon tags %>
  <%# see https://tinyurl.com/favicons-in-2021   %>

  <%# Opting to store these files in /public rather than /assets because %>
  <%# the manifest file can't point to fingerprinted paths. %>

  <link rel="icon" href="<%= image_path('/favicon/favicon.ico') %>" sizes="any">
  <link rel="icon" href="<%= image_path('/favicon/favicon.svg') %>" type="image/svg+xml">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path('/favicon/apple-touch-icon.png') %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path('/favicon/favicon-32x32.png') %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path('/favicon/favicon-16x16.png') %>">
  <link rel="manifest" href="<%= image_path('/favicon/site.webmanifest') %>">
  <link rel="mask-icon" href="<%= image_path('/favicon/safari-pinned-tab.svg') %>" color="#053482">
  <meta name="msapplication-TileColor" content="#053482">
  <meta name="theme-color" content="#ffffff">

  <%# DUL CUSTOMIZATION: add Matomo tracking %>
  <%= render '/layouts/quick_search/matomo_analytics' %>

</head>
<body class="<%= body_class %>" data-quicksearch-analytics-query="<%= strip_tags(@log_query) %>">

  <div id="skip-link">
    <a class="sr-only sr-only-focusable" data-turbolinks="false" href="#params-q">Skip to search</a>
    <% if @query %>
      <a class="sr-only sr-only-focusable" data-turbolinks="false" href="#result-types">Skip to search results</a>
    <% else %>
      <a class="sr-only sr-only-focusable" data-turbolinks="false" href="#main-content">Skip to main content</a>
    <% end %>
  </div>

  <%= render 'dul_bootstrap_theme/masthead' %>

  <%= render partial: 'layouts/quick_search/breadcrumbs',locals: { page_title: @page_title } %>

  <div id="content" role="document" class="page container">
    <%# Duke Alertbar include %>
    <script src="https://alertbar.oit.duke.edu/alert.html" type="text/javascript"></script>
    <main id="main-content" role="main" class="row">
        <div class="col">
            <!-- CONTENT: enter content below this line -->
            <div id="quicksearch">
            <%= yield %>
            </div>
        </div>
    </main>
  </div>

  <%= render 'dul_bootstrap_theme/footer' %>

  <%# TODO: evaluate whether this i18n script from QuickSearch core is needed. %>
  <script type="text/javascript">
    window.I18n = <%= I18n.backend.send(:translations).to_json.html_safe %>
  </script>
</body>
</html>
