<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DulQuicksearch Errors</title>
    <!--<title><%= yield(:html_title) %> | <%= t('public_ui.root.title') %> | <%= t('public_ui.organization.name') %></title>-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%# DUL CUSTOMIZATION: add custom favicon tags %>
    <%# see https://tinyurl.com/favicons-in-2021   %>

    <%# Opting to store these files in /public rather than /assets because %>
    <%# the manifest file can't point to fingerprinted paths. %>

    <link rel="icon" href="<%= image_path('/favicon/favicon.ico') %>" sizes="any">
    <link rel="icon" href="<%= image_path('/favicon/favicon.svg') %>" type="image/svg+xml">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path('/favicon/apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path('/favicon/favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path('/favicon/favicon-16x16.png') %>">
    <link rel="manifest" href="<%= image_path('/favicon/site.webmanifest') %>">
    <link rel="mask-icon" href="<%= image_path('/favicon/safari-pinned-tab.svg') %>" color="#053482">
    <meta name="msapplication-TileColor" content="#053482">
    <meta name="theme-color" content="#ffffff">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

  <div id="skip-links">
    <a class="sr-only sr-only-focusable" data-turbolinks="false" href="#content"><%= t('public_ui.skip_to_content') %></a>
  </div>

    <%= render 'dul_bootstrap_theme/masthead' %>

    <%= render 'breadcrumbs_errors' %>

    <div id="content" role="document" class="page container pr-sm-0 pl-sm-0">

      <script src="https://alertbar.oit.duke.edu/alert.html" type="text/javascript"></script>

      <p class="notice d-none" role="alert"><%= notice %></p>
      <p class="alert d-none" role="alert"><%= alert %></p>

      <%= yield %>

    </div>

    <%= render 'dul_bootstrap_theme/footer' %>
  </body>
</html>
